<div class="header">
	<%= @flavor.name %>
</div>

<%= @flavor.abbreviation %>

<%= link_to "Edit Flavor", edit_flavor_path(@flavor) %>

<%= link_to "Add Component", new_flavor_component_path(@flavor) %>

<% if @flavor.batch_eligible? %>
	<%= link_to "Create Batch From #{@flavor.name}", new_batch_path(flavor: @flavor.id) %>
	<%= link_to "Create FULL Batch from #{@flavor.name}", new_batch_path(flavor: @flavor.id, gallons: 42) %>
<% end %>

<% if !@flavor.components.empty? %>
	<div class="components">
	<% @flavor.components.each do |comp| %>
		<%= div_for(comp) do %>
			<%= comp.ingredient.name %>
			<%= comp.percentage %>
			<%= link_to "Edit Ingredient", edit_flavor_component_path(@flavor, comp) %>
		<% end %>
	<% end %>
	</div>
<% end %>
