<%= @keg.serial_number %>

<div class="status">
  Status: <%= @keg.status %>
</div>

<div class="location" >
  Location: <%= @keg.location %>
</div>
<%= link_to "Edit Keg", edit_keg_path(@keg) %>
<%= link_to "Delete Keg", keg_path(@keg), method: :delete, data: {confirm: "Are you sure you want to delete this keg?"} %>